MyFirstAspPrj/Web References/sairam/EcomerceProjectEx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBlockedData">
        <s:complexType />
      </s:element>
      <s:element name="GetBlockedDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlockedDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBlockedDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlockedData" />
  </wsdl:message>
  <wsdl:message name="GetBlockedDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlockedDataResponse" />
  </wsdl:message>
  <wsdl:portType name="EcomerceProjectExSoap">
    <wsdl:operation name="GetBlockedData">
      <wsdl:input message="tns:GetBlockedDataSoapIn" />
      <wsdl:output message="tns:GetBlockedDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EcomerceProjectExSoap" type="tns:EcomerceProjectExSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBlockedData">
      <soap:operation soapAction="http://tempuri.org/GetBlockedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EcomerceProjectExSoap12" type="tns:EcomerceProjectExSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBlockedData">
      <soap12:operation soapAction="http://tempuri.org/GetBlockedData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EcomerceProjectEx">
    <wsdl:port name="EcomerceProjectExSoap" binding="tns:EcomerceProjectExSoap">
      <soap:address location="http://localhost:58316/EcomerceProjectEx.asmx" />
    </wsdl:port>
    <wsdl:port name="EcomerceProjectExSoap12" binding="tns:EcomerceProjectExSoap12">
      <soap12:address location="http://localhost:58316/EcomerceProjectEx.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>